In [2]:
import pandas as pd

In [1]:
file_path = '../data/data.txt'

In [18]:
df = pd.read_csv(file_path)

In [22]:
df[(df['RMSE']<0.05) & (df['num']<200)]

      j_min  j_max  k_max  num      RMSE
926     -11     -8     40  160  0.036721
1011    -10     -8     40  120  0.044750
1012    -10     -8     60  180  0.036478
1023    -10     -7     40  160  0.027150
1072     -9     -9    120  120  0.045361
1073     -9     -9    140  140  0.044780
1074     -9     -9    160  160  0.043451
1075     -9     -9    180  180  0.042673
1090     -9     -8     80  160  0.025636
1172     -8     -8    180  180  0.030209

In [21]:
df['RMSE'].min()

0.0018452